<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <link rel="canonical" href="https://jacob-web.firebaseapp.com/">

  <noscript>
    <p>Ncesita tener habilitado JavaScript para poder visualizar contenido</p>
  </noscript>

  <!-- Progressive web app -->
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="theme-color" content="2B303A">
  <meta name="msapplication-TileColor" content="2B303A">
  <meta name="msapplication-TileImage" content="2B303A">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel = "apple-touch-startup-image" href="./assets/img/og-image.jpg">
  <link rel = "apple-touch-icon" href = "./assets/img/og-image.jpg">

  <!--Para google+-->
  <link rel="author" href="https://plus.google.com/112455610659481296930" />
  <link rel="publisher" href="https://plus.google.com/112455610659481296930" />
  <meta itemprop="name" content="Jacob Gonzalez | Frontend developer from Colombia">
  <meta itemprop="description" content="Hi! my name is Jacob, I hope to help you building websites or web aplications and improve the SEO and more, send me a message and let's talk">
  <meta itemprop="image" content="./assets/img/og-image.jpg">

  <!--Open graph para Facebook-->
  <meta property="og:title" content="Jacob Gonzalez Frontend developer from Colombia"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://jacob-web.firebaseapp.com/"/>
  <meta property="og:description" content="Hi! my name is Jacob, I hope to help you building websites or web aplications and improve the SEO and more, send me a message and let's talk" />
  <meta property="og:image" content="./assets/img/og-image.jpg"/>

  <!--Para twiter-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Jacob62213451">
  <meta name="twitter:title" content="Jacob Gonzalez, Frontend developer from Colombia">
  <meta name="twitter:description" content="Hi! my name is Jacob, I hope to help you building websites or web aplications and improve the SEO and more, send me a message and let's talk">
  <meta name="twitter:creator" content="@Jacob62213451">
  <meta name="twitter:image:src" content="./assets/img/og-image.jpg">
</head>
<body>
  <div id="root"></div>
  <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
</body>
</html>
